 .btn {
	
  margin: 1rem;
  
  }
 &-close {
    transition: 0.3s;
    background-color: #87CEEB;

    &:hover {
      background: transparent;
      box-shadow: inset 54px 0 0 0 var(--btn-bg),
        inset -54px 0 0 0 var(--btn-bg);
    }
  }
  
 