.conocontainer {
	width: 1280px;
	margin: auto;
	max-width: none !important;
}

html, body {
	height: 100%;
	font-family: "Cairo", sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	color: #111111;
	font-weight: 400;
	font-family: "Cairo", sans-serif;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 16px;
	font-family: "Cairo", sans-serif;
	color: #6f6f6f;
	font-weight: 400;
	line-height: 26px;
	margin: 0 0 15px 0;
}

img {
	max-width: 100%;
}

input:focus, select:focus, button:focus, textarea:focus {
	outline: none;
}

a:hover, a:focus {
	text-decoration: none;
	outline: none;
	color: #000000;
}

ul, ol {
	padding: 0;
	margin: 0;
}

/*---------------------
  Helper CSS
-----------------------*/
.section-title {
	margin-bottom: 50px;
	text-align: center;
}

.section-title h2 {
	color: #1c1c1c;
	font-weight: 700;
	position: relative;
}

.section-title h2:after {
	position: absolute;
	left: 0;
	bottom: -15px;
	right: 0;
	height: 4px;
	width: 80px;
	background: #7fad39;
	content: "";
	margin: 0 auto;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.text-white h1, .text-white h2, .text-white h3, .text-white h4,
	.text-white h5, .text-white h6, .text-white p, .text-white span,
	.text-white li, .text-white a {
	color: #fff;
}

/* buttons */
.primary-btn {
	display: inline-block;
	font-size: 14px;
	padding: 10px 28px 10px;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 700;
	background: #7fad39;
	letter-spacing: 2px;
}

.site-btn {
	font-size: 14px;
	color: #ffffff;
	font-weight: 800;
	text-transform: uppercase;
	display: inline-block;
	padding: 13px 30px 12px;
	background: #7fad39;
	border: none;
}

/* Preloder */
#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #000;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

/*---------------------
  Header
-----------------------*/
.header__top {
	background: #f5f5f5;
	margin: auto;
}

.header__top__left {
	padding: 10px 0 13px;
}

.header__top__left ul li {
	font-size: 14px;
	color: #1c1c1c;
	display: inline-block;
	margin-right: 45px;
	position: relative;
}

.header__top__left ul li:after {
	position: absolute;
	right: -25px;
	top: 1px;
	height: 20px;
	width: 1px;
	background: #000000;
	opacity: 0.1;
	content: "";
}

.header__top__left ul li:last-child {
	margin-right: 0;
}

.header__top__left ul li:last-child:after {
	display: none;
}

.header__top__left ul li i {
	color: #252525;
	margin-right: 5px;
}

.header__top__right {
	text-align: right;
	padding: 0px 0 0px;
	width: 1280px;
	height: 192px;
}

.header__top__right__social {
	position: relative;
	display: inline-block;
	margin-right: 35px;
}

.header__top__right__social:after {
	position: absolute;
	right: -20px;
	top: 1px;
	height: 20px;
	width: 1px;
	background: #000000;
	opacity: 0.1;
	content: "";
}

.header__top__right__social a {
	font-size: 14px;
	display: inline-block;
	color: #1c1c1c;
	margin-right: 20px;
}

.header__top__right__social a:last-child {
	margin-right: 0;
}

.header__top__right__language {
	position: relative;
	display: inline-block;
	margin-right: 40px;
	cursor: pointer;
}

.header__top__right__language:hover ul {
	top: 23px;
	opacity: 1;
	visibility: visible;
}

.header__top__right__language:after {
	position: absolute;
	right: -21px;
	top: 1px;
	height: 20px;
	width: 1px;
	background: #000000;
	opacity: 0.1;
	content: "";
}

.header__top__right__language img {
	margin-right: 6px;
}

.header__top__right__language div {
	font-size: 14px;
	color: #1c1c1c;
	display: inline-block;
	margin-right: 4px;
}

.header__top__right__language span {
	font-size: 14px;
	color: #1c1c1c;
	position: relative;
	top: 2px;
}

.header__top__right__language ul {
	background: #222222;
	width: 100px;
	text-align: left;
	padding: 5px 0;
	position: absolute;
	left: 0;
	top: 43px;
	z-index: 9;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.header__top__right__language ul li {
	list-style: none;
}

.header__top__right__language ul li a {
	font-size: 14px;
	color: #ffffff;
	padding: 5px 10px;
}

.header__top__right__auth {
	word-break: nowrap;
	display: inline-block;
	text-overflow: clip;
	overflow: hidden;
	white-space: nowrap;
}

.header__top__right__auth a {
	display: block;
	font-size: 14px;
	color: #1c1c1c;
}

.header__top__right__auth a i {
	margin-right: 6px;
	white-space: nowrap;
}

.header__logo {
	padding-left: 200px;
}

.header__logo a {
	display: inline-block;
}

.header__menu {
	padding: 24px 0;
}

.header__menu ul li {
	list-style: none;
	display: inline-block;
	margin-right: 50px;
	position: relative;
}

.header__menu ul li.active a {
	color: #7fad39;
}

.header__menu ul li:hover .header__menu__dropdown {
	top: 30px;
	opacity: 1;
	visibility: visible;
}

.header__menu ul li:hover>a {
	color: #7fad39;
}

.header__menu ul li:last-child {
	margin-right: 0;
}

.header__menu ul li a {
	font-size: 14px;
	color: #252525;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
	padding: 5px 0;
	display: block;
}

.header__menu .col-lg-3 {
	margin-right: 70px;
}

.header__cart {
	text-align: right;
	padding: 24px 0;
	margin-right: auto;
}

.header__cart ul {
	text-align: right;
	margin-right: 25px;
}

.header__cart ul li {
	list-style: none;
	display: inline-block;
	margin-right: 15px;
}

.header__cart ul li:last-child {
	margin-right: 0;
}

.header__cart ul li a {
	position: relative;
}

.header__cart ul li a i {
	font-size: 18px;
	color: #1c1c1c;
}

.header__cart ul li a span {
	height: 13px;
	width: 13px;
	background: #7fad39;
	font-size: 10px;
	color: #ffffff;
	line-height: 13px;
	text-align: center;
	font-weight: 700;
	display: inline-block;
	border-radius: 50%;
	position: absolute;
	top: 0;
	right: -12px;
}

.header__cart .header__cart__price {
	font-size: 14px;
	color: #6f6f6f;
	display: inline-block;
}

.header__cart .header__cart__price span {
	color: #252525;
	font-weight: 700;
}

.humberger__menu__wrapper {
	display: none;
}

.humberger__open {
	display: none;
}

/*---------------------
  Footer
-----------------------*/
.footer {
	background: #F3F6FA;
	padding-top: 10px;
	padding-bottom: 0;
}

.footer__copyright {
	border-top: 1px solid #ebebeb;
	padding: 15px 0;
	overflow: hidden;
	margin-top: 20px;
}

.footer__copyright__text {
	font-size: 14px;
	color: #1c1c1c;
	float: left;
	line-height: 25px;
}

.footer__copyright__payment {
	float: right;
}

/* ===================================================================================== */
.plus {
	position: relative;
	width: 0;
	z-index: 2;
}

.top {
	background-color: ghostwhite;
	position: relative;
	left: 0;
	padding: 0;
	width: 100%;
	height: 22px;
	padding-top: 7px;
}

.top p {
	font-size: 12px;
	line-height: 20px;
}

.top p:hover {
	color: #a8a8a8;
}

.top-menu {
	display: inline;
}

.top-menu li {
	display: inline-block;
}

.top-menu .test {
	float: right;
	padding-right: 20px;
}

.top-menu .test a p {
	float: right;
	color: black;
}

.top-menu .test:hover p {
	color: darkgray;
}

.top-menu .test2 {
	float: left;
	padding-left: 20px;
}

.top-menu .test2:hover p {
	color: darkgray;
}

.top-menu .test2 a p {
	float: left;
	color: black;
}

.button {
	all: unset;
	border: 0;
	outline: 0;
	box-shadow: none;
}

.righttab {
	position: relative;
	text-align: center;
	bottom: 33px;
    width: 130px;
    left: 350px;
}

.righttab:hover {
	color: black;
}

.righttab .myShop:hover {
	color: black;
}

.righttab .wish:hover {
	color: black;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
	font-family: 'Open Sans', sans-serif;
}

.search {
	position: relative;
	text-align: center;
	bottom: 40px;
	right: 50px;
    width: 360px;
    left: 400px;
	
}

.searchTerm {
	width: 310px;
	border: 3px solid #00B4CC;
	border-right: none;
	padding: 14px;
	height: 15px;
	border-radius: 5px 0 0 5px;
	outline: none;
	color: #9DBFAF;
	position: relative;
    bottom: 1px;
    left: 5px;
}

.searchTerm:focus {
	color: #00B4CC;
}

.searchButton {
	width: 40px;
	height: 34px;
	border: 1px solid #00B4CC;
	background: #00B4CC;
	text-align: center;
	color: #fff;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	font-size: 18px;
}

.wrap {
	width: 30%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
/* main (내 정보 section) start */
.main__content {
	padding-bottom: 64px;
	background: #fff;
}

.main__content-inner {
	padding-top: 36px;
	position: relative;
	width: 1056px;
	margin: 0 auto;
	position: relative;
}

.main1 {
	display: block;
	box-sizing: border-box;
}

.title-style-bar {
	background: #f5f5f5;
	color: #333;
	padding: 22px 24px;
	vertical-align: middle;
}

.table {
	border-collapse: collapse;
	width: 100%;
}

.table th {
	width: 850px;
	height: 60px;
}

.table tr:nth-child(odd) {
	background-color: #e6f1ff;
}

.table tr:nth-child(even) {
	background-color: #f0f7ff;
}

.table tr:hover {
	background-color: #ffc5c2;
	cursor: pointer;
}

.table td {
	padding: 5px;
	height: 70%;
}
/* main (내 정보 section) end */
/* main (주문 정보 section) start */
.tabmain {
	width: 900px;
	padding: 50px;
	margin: 0 auto;
	background: #ffffff;
	position: relative;
	height: 550px;
	border: 1px solid #ddd;
	bottom: 1000px;
}

.tabmain section {
	display: none;
	padding: 20px 0 0;
	border-top: 1px solid #ddd;
}

/*라디오버튼 숨김*/
.tabmain input {
	display: none;
}

.tabmain label {
	display: inline-block;
	margin: 0 0 -1px;
	padding: 15px 25px;
	font-weight: 600;
	text-align: center;
	color: #bbb;
	border: 1px solid transparent;
}

.tabmain label:hover {
	color: #2e9cdf;
	cursor: pointer;
}

/*input 클릭시, label 스타일*/
.tabmain input:checked+label {
	color: #555;
	border: 1px solid #ddd;
	border-top: 2px solid #2e9cdf;
	border-bottom: 1px solid #ffffff;
}

#tab1:checked ~ #content1, #tab2:checked ~ #content2 {
	display: block;
}

.my-review__writable js_reviewWritableListContainer {
	margin: 0;
	padding: 0;
	font-size: 100%;
}

.my-review__writable__list-container {
	margin: 0;
	padding: 0;
	font-size: 100%;
}

.my-review__writable__list {
	padding: 20px 20px 20px 30px;
	border-bottom: 1px solid #ddd;
	list-style: none;
}

.my-review__writable__image {
	width: 100px;
	height: 100px;
	vertical-align: top;
	border: 0;
	padding: 0;
}

.my-review__writable__content-wrap {
	display: inline-block;
	width: 430px;
	margin: 5px 20px 0px;
	vertical-align: top;
	position: relative;
	margin: 0;
	padding: 0;
	font-size: 100%;
}

.my-review__writable__content-title {
	font-size: 14px;
	color: #111111;
	overflow: hidden;
	font-weight: bold;
	line-height: 17px;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

.my-review__writable__content {
	margin-top: 5px;
	font-size: 12px;
	line-height: 15px;
	font-weight: normal;
	color: #111;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.my-review__writable__date {
	margin-top: 32px;
	font-size: 12px;
	font-weight: normal;
	color: #888;
	line-height: 15px;
	letter-spacing: 0px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.my-review__writable__btn-wrap {
	text-align: center;
	display: inline-block;
	margin-top: 16px;
	float: right;
	margin: 0;
	padding: 0;
	font-size: 100%;
}

.my-review__writable__write-btn js_reviewWritableWriteBtn {
	width: 100px;
	height: 36px;
	vertical-align: middle;
	padding: 0;
	background-color: #FBFBFB;
	border: 1px solid #346aff;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: -1px;
	color: #346aff;
	outline: none;
	cursor: pointer;
}

.my-review__writable__write-btn-text {
	display: inline-block;
	width: 100px;
	height: 36px;
	vertical-align: middle;
	padding: 0;
	background-color: #FBFBFB;
	border: 1px solid #346aff;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: -1px;
	color: #346aff;
	outline: none;
	cursor: pointer;
}

.my-review__writable__cancel-text {
	width: 100px;
	height: 100px;
	vertical-align: middle;
	padding: 0;
	background-color: #FBFBFB;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: -1px;
	color: #346aff;
}

/* main (주문 정보 section) end */

/* main (환불/취소 section) start */
.cancel {
	margin: 0px 0px 24px;
	box-sizing: border-box;
}

.cancel__list {
	margin-bottom: 15px;
	box-sizing: border-box;
}

.cancel__list-date {
	padding: 10px 10px 8px;
	line-height: 27px;
	background-color: rgb(245, 245, 245);
	border-width: 1px 1px 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: rgb(204, 204, 204);
	border-right-color: rgb(204, 204, 204);
	border-left-color: rgb(204, 204, 204);
	border-image: initial;
	border-bottom-style: initial;
	border-bottom-color: initial;
}

.cancel__list-cancelDate1, .calcel__list-orderDate1 {
	display: inline-block;
	position: relative;
	padding: 0px 6px;
}

.cancel__list-cancelDate2, .cancel__list-orderDate2 {
	display: inline-block;
	font-weight: bold;
	padding-right: 6px;
}

.and {
	display: inline-block;
	color: rgb(204, 204, 204);
	margin: 0px 4px;
	font-weight: normal;
	font-size: 100%;
	box-sizing: border-box;
}

.cancel__list-content {
	border: 1px solid rgb(221, 221, 221);
}

.cancel__list-contentCheck {
	display: table;
	vertical-align: middle;
}

.cancel__list-contentTitle {
	display: table-cell;
}

.cancel__list-contentTitle3 {
	display: table-cell;
	width: 487px;
	padding: 33px 20px;
	border-right: 1px solid rgb(221, 221, 221);
	vertical-align: middle;
}

.cancel__list-title {
	padding: 5px 0px;
	color: rgb(51, 51, 51);
	font-size: 14px;
	font-weight: bold;
}

.cancel__list-subContent {
	color: rgb(136, 136, 136);
	font-size: 12px;
}

.cancel__list-price {
	display: table-cell;
	width: 120px;
	text-align: center;
	vertical-align: middle;
}

.cancel__list-quantity {
	box-sizing: border-box;
}

.cancel__list-priceCheck {
	font-weight: bold;
	box-sizing: border-box;
}

.cancel__list-status {
	display: table-cell;
	position: relative;
	width: 210px;
	border-left: 1px solid rgb(221, 221, 221);
	text-align: center;
	vertical-align: middle;
}

.cancel__list-status-cancel {
	display: inline-block;
	user-select: none;
	position: relative;
	width: 80px;
	vertical-align: middle;
	font-size: 15px;
}

.cancel__list-status-when {
	width: 104px;
	line-height: 1.125rem;
	font-size: 0.75rem;
}
/* main (환불/취소 section) end */

/* mypage sidebar start */
.menu {
	background: #5bc995;
	height: 300px;
	width: 240px;
	position: relative;
	top: 0;
	right: 200px;
	outline: none;
	margin-left: 305px;
}

.menu .avatar {
	background: rgba(0, 0, 0, 0.1);
	padding: 4em 0.3em;
	text-align: center;
	width: 240px;
}

.menu .avatar img {
	width: 100px;
	border-radius: 50%;
	overflow: hidden;
	border: 4px solid #ffea92;
	box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2);
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

.sidenav {
	background-color: #1E2027;
	margin-bottom: 11px;
}

.sidenav .main-buttons {
	list-style-type: none;
	margin: 64px 0;
	padding: 0;
	color: #fff;
}

.sidenav .main-buttons li a {
	padding-left: 16px;
	color: #666;
	display: block;
	margin-top: 8px;
	-webkit-tap-highlight-color: transparent;
	text-decoration: none;
}

.sidenav .main-buttons>li {
	padding: 16px 52px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.sidenav .main-buttons>li .fa {
	position: absolute;
	left: 12px;
	color: #414655;
}

.sidenav .main-buttons>li:hover, .sidenav .main-buttons>li:active,
	.sidenav .main-buttons>li:focus {
	background-color: #292c35;
	cursor: pointer;
}

.sidenav .main-buttons>li:hover .hidden, .sidenav .main-buttons>li:active .hidden,
	.sidenav .main-buttons>li:focus .hidden {
	width: 228px;
}

.sidenav .main-buttons2 {
	list-style-type: none;
	margin: 64px 0;
	padding: 0;
	color: #fff;
}

.sidenav .main-buttons2 li a {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 550;
	color: inherit;
}

.sidenav .main-buttons2>li {
	padding: 16px 52px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.sidenav .main-buttons2>li .fa {
	position: absolute;
	left: 12px;
	color: #414655;
}

.sidenav .main-buttons2>li:hover, .sidenav .main-buttons>li:active,
	.sidenav .main-buttons>li:focus {
	background-color: #292c35;
	cursor: pointer;
}

.sidenav .main-buttons2>li:hover .hidden, .sidenav .main-buttons>li:active .hidden,
	.sidenav .main-buttons>li:focus .hidden {
	width: 228px;
}

.sidenav b {
	border: 0 none;
	margin-top: 0;
	display: block;
	width: 100%;
	padding: 11px 16px 3px 16px;
	margin-top: 8px;
	border-top: 1px solid #efe8e6;
	color: #333;
	font-weight: bold;
	font-size: 13px;
	display: inline-block;
}

.hidden {
	width: 0;
	height: 100%;
	padding: 64px 0;
	position: absolute;
	top: 0;
	right: 0;
	overflow: hidden;
	list-style-type: none;
	background-color: #292c35;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.hidden li {
	padding: 16px 24px;
}

.hidden li:hover, .hidden li:active, .hidden li:focus {
	background-color: #323541;
}

.sub_img_member {
	margin-top: 150px;
}

.plus2 {
	padding-bottom: 64px;
	background: #fff;
}

.inner-w layout-split {
	padding-top: 36px;
	position: relative;
	width: 1056px;
	margin: 0 auto;
	position: relative;
}

.my-info {
	margin-left: 0;
	width: 230px;
}

.profile-area {
	padding: 25px 0 28px;
	width: 100%;
	border: 1px solid #ff7b30;
	margin-top: 130px;
}

.outline {
	width: 90px;
	height: 90px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #fff;
	padding: 5px;
	margin: 0 auto;
}

.img-bg profile-img {
	margin: 0;
	display: block;
	display: block;
	width: 80px;
	height: 80px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
	margin: 4px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.profile-image-input {
	display: none;
	background: #fff;
	-webkit-tap-highlight-color: transparent;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	line-height: inherit;
}

.profile-modal-open {
	visibility: hidden;
	-webkit-tap-highlight-color: transparent;
	text-decoration: none;
}

.area-txt {
	padding: 22px 0 0;
}

.area-txt a {
	margin-bottom: 10px;
	font-size: 12px;
	display: block;
	text-align: center;
}

.area-txt strong {
	font-size: 14px;
	font-weight: bold;
	color: #333;
	margin-bottom: 10px;
	display: block;
	text-align: center;
}

.my-menu {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	display: block;
}

.my-menu em {
	display: block;
	background: #ff7b30;
	padding: 9px 16px;
	color: #fff;
	font-size: 13px;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.my-info .profile-area .outline .img-bg input, .my-info .profile-area .outline .artist_card__img input
	{
	display: none;
}

.link-style {
	position: absolute;
	bottom: -16px;
	display: inline-block;
	width: 100%;
	text-align: center;
	height: 16px;
	line-height: 16px;
	background: #000000b3;
	font-size: 10px;
	color: #fff;
	padding: 0;
}

/* mypage sidebar end */

/* ====================================================================== */

/* mypage_coupon start */
.couponSection {
	margin-left: 24px;
	width: 852px;
	float: left;
	position: relative;
	left: 400px;
}

.title-style no-mt clf {
	margin-top: 0;
	padding-top: 0;
}

.txt fl {
	font-size: 24px;
	font-weight: bold;
	vertical-align: middle;
	color: #333;
	display: block;
	float: left;
}

.segment {
	padding: 32px 0;
	margin-bottom: 32px;
	margin-top: 0;
	display: table;
	width: 100%;
	vertical-align: middle;
	box-shadow: 3px 3px 4px 0 #eaeaea80;
	border: solid 1px #ebebeb;
}

.segment__title {
	vertical-align: middle;
	padding-bottom: 0;
	text-align: right;
	font-size: 16px;
	padding-right: 24px;
	display: table-cell;
}

.insertCoupon {
	display: table-cell;
	width: 60%;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.ui_btn--red {
	width: 62px;
	background: #ff6d23;
	font-size: 12px;
	padding: 0 16px;
	line-height: 30px;
	border-color: transparent;
	background: #ff7b30;
	box-shadow: 0 1px 3px 0 hsl(0deg 0% 86%/ 30%);
	font-weight: 400;
	box-sizing: border-box;
	display: inline-block;
	border-radius: 2px;
	background: #fff;
	border: 1px solid #d9d9d9;
	vertical-align: middle;
	transition: border-color .2s cubic-bezier(.075, .82, .165, 1);
	margin: 0;
	text-align: center;
	text-decoration: none;
}

.blank {
	padding: 11px 80px;
	margin: 0 auto 25px auto;
	border: none;
	justify-content: center;
}

.coupon-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0 14px;
}

.coupon {
	margin-bottom: 24px;
	border: 2px solid #ffbd97;
	border-radius: 0;
	position: relative;
	width: 400px;
	height: 180px;
}

.coupon__dotted-line top {
	top: -2px;
	position: absolute;
	left: 45px;
	width: 17px;
	height: 2px;
	background: #ffffff;
}

.coupon__dotted-line bottom {
	bottom: -2px;
	transform: scaleY(-1);
	position: absolute;
	left: 45px;
	width: 17px;
	height: 2px;
	background: #ffffff;
}

.coupon-contents__header {
	display: flex;
	align-items: center;
}

.coupon-contents__title {
	max-height: 36px;
	font-size: 14px;
	color: #333333;
	line-height: 1.29;
	margin-left: 8px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.coupon-contents__thumbnail-img {
	width: 32px;
	height: 32px;
	border: none;
	border-radius: 50%;
}

.coupon-contents__body {
	padding-left: 40px;
	margin-top: 8px;
	line-height: 1;
}

.coupon-contents__discount-value {
	font-size: 32px;
	font-weight: bold;
	color: #333333;
	display: flex;
	align-items: center;
}

.coupon-contents__discount-condition {
	font-size: 12px;
	color: #999999;
	margin-top: 6px;
}

.title2-style {
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	color: #333;
	margin-bottom: 10px;
}

.content-box {
	background: #f5f5f5;
	border: 1px solid #d9d9d9;
	padding: 10px 20px;
	margin-top: 10px;
	font-size: 14px;
	line-height: 1.5;
	color: #333;
}

.content-box p {
	margin-top: 3px;
}

.c-point {
	color: #ff7b30;
}
/* mypage_coupon end */

/* ====================================================================== */

/* mypage_basket start */
.TotalPrice {
	position: relative;
	top: auto;
	bottom: 0px;
	left: 47px;
	width: 800px;
	margin-top: 60px;
}

.CartshopList {
	width: 1280px;
	margin: auto;
	padding: 0;
	border: 0;
	max-width: none !important;
	position: relative;
	left: 80px;
	bottom: 847px;
	margin-top: 10px;
}

.CartshopItem {
	margin: 0;
	width: 950px;
	padding: 0;
	position: relative;
	top: 50px;
	height: 400px;
	border: 1px solid #d9d9d9;
	margin-top: 10px;
}

.CartshopItem__header {
	padding: 21px 18px;
	background-color: #f5f5f5;
}

.Cartlabel {
	cursor: pointer;
}

.checkbox {
	display: inline-block;
}

.inputcheckbox {
	display: inline-block;
}

.bp {
	background: transparent;
	display: inline-block;
	position: relative;
	height: 18px;
	width: 18px;
	vertical-align: middle;
	box-sizing: border-box;
	border: 0;
	margin: 0;
}

.CartshopItem__title {
	display: inline-block;
	vertical-align: middle;
	color: #333333;
	font-weight: bold;
	font-size: 14px;
	line-height: 1.2;
	margin-left: 12px;
}

.baskettitle {
	display: inline-block;
	vertical-align: middle;
	color: #333333;
	font-weight: bold;
	font-size: 14px;
	line-height: 1.2;
	margin-left: 12px;
}

.CartshopItem__itemList {
	padding: 10px;
}

.CartshopItem__itemList ul {
	list-style: none;
}

.CartproductListItem {
	width: 100%;
	max-width: 800px;
}

.CartproductListItem__productInfo {
	display: table;
	width: 100%;
	height: 80px;
}

.CartproductListItem__Img {
	display: table-cell;
	width: 125px;
}

.CartproductListItem__productImg {
	display: inline-block;
	width: 72px;
	height: 72px;
	border-radius: 2px;
	vertical-align: middle;
}

.CartproductListItem__productInfoTextGroup {
	display: table-cell;
	vertical-align: middle;
}

.CartproductListItem__productName {
	font-size: 14px;
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
	max-height: 42px;
}

.CartproductListItem__optionInfo {
	padding: 8px 18px 12px 126px;
}

.CartOptionList {
	margin-bottom: 12px;
}

.CartOptionListItem {
	box-shadow: none;
}

.CartOptionListItem__Price {
	display: table-cell;
	text-align: right;
	vertical-align: top;
}

.ItemPrice {
	font-size: 12px;
	color: #333333;
}

.ProductMessage {
	width: calc(100% - 80px);
	display: inline-block;
	vertical-align: middle;
}

.TextEditor {
	display: inline-block;
	width: 100%;
	height: 80px;
	overflow: hidden;
	position: relative;
	right: 130px;
}

.ProductTextarea {
	width: 100%;
	height: 100%;
	padding: 12px 30px 12px 12px;
	border-radius: 2px;
	resize: none;
	line-height: 1.33;
	border: 1px solid #ccc;
}

.TextEditor__maxLength {
	color: #999;
	position: absolute;
	bottom: 4px;
	right: 8px;
}

.CartCheckboxControl {
	display: flex;
	align-items: center;
	height: 60px;
	justify-content: space-between;
}

.CartCheckboxControl__label {
	margin-left: 4px;
	font-size: 12px;
}

.CartCheckoutDesign {
	display: flex;
	min-height: 120px;
	padding-top: 24px;
	border-radius: 4px;
	border: 1px solid #333333;
	overflow: hidden;
}

.CartCheckoutDesign__item {
	flex: 1 auto;
	text-align: center;
}

.CartCheckoutDesign__label {
	color: #999999;
	padding-bottom: 18px;
	font-size: 12px;
}

.CartCheckoutDesign__value {
	color: #999999;
	padding-bottom: 18px;
	font-size: 12px;
}

.CartCheckoutDesign__item--fixed {
	padding-top: 35px;
	font-size: 24px;
	font-weight: bold;
}

.CartCheckoutDesign__value--highlight {
	font-size: 24px;
	font-weight: bold;
	color: #ff7b30;
}

.OrderButton {
	width: 100%;
	background: #ff7b30;
	border: 1px solid transparent;
	color: #ffffff;
	font-size: 16px;
	line-height: 46px;
	padding: 0 24px;
	display: inline-block;
	border-radius: 2px;
	font-weight: 400px;
	text-align: center;
}

/* mypage_basket end */

/* 주문 목록 start */
.purchasedList {
	width: 850px;
	padding: 50px;
	margin: 0 auto;
	background: #ffffff;
	position: relative;
	bottom: 610px;
	height: 550px;
	border: 1px solid #ddd;
	right: 75px;
}
/* 주문 목록 end */

/* 팔로우 & 팔로워 start */
.shop-list {
	list-style: none;
}

.following-shop-container {
	border-radius: 4px;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
	background-color: #ffffff;
	list-style: none;
	display: flex;
	align-items: center;
}

.shop-profile-area {
	display: flex;
	align-items: center;
	padding: 28px 36px 28px 31px;
}

.shop-thumbnail {
	min-width: 100px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: solid 1px rgba(217, 217, 217, 0.5);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	margin-right: 32px;
	cursor: pointer;
	position: relative;
}

.shop-profile {
	display: flex;
	flex-direction: column;
}

.shop-name {
	font-size: 16px;
	font-weight: bold;
	line-height: 1.5;
	color: #333333;
	margin-bottom: 8px;
	cursor: pointer;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.shop-introduce {
	width: 184px;
	font-size: 12px;
	line-height: 1.5;
	color: #999999;
	height: 54px;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: pre-line;
	margin-bottom: 24px;
}

.cancleFollowing {
	background-color: rgb(255, 255, 255);
	min-width: 96px;
	width: 96px;
	height: 32px;
	font-size: 12px;
	color: rgb(51, 51, 51);
	border: 1px solid rgb(217, 217, 217);
	border-radius: 4px;
}

.navstyle {
	font-size: 14px;
	color: #acacac;
	display: table;
	width: 100%;
	margin: 24px 0 0;
	padding-bottom: 14px;
}

.activefollow {
	border-width: 2px;
	border-color: #666;
	border-bottom-color: transparent;
	color: #333;
	font-weight: bold;
	display: table-cell;
	width: 50%;
	text-align: center;
	padding: 16px 0;
	border: 1px solid #acacac;
	border-bottom: 2px solid #666;
}

.activefollower {
	border-width: 2px;
	border-color: #666;
	border-bottom-color: transparent;
	color: #333;
	font-weight: bold;
	display: table-cell;
	width: 50%;
	text-align: center;
	padding: 16px 0;
	border: 1px solid #acacac;
	border-bottom: 2px solid #666;
}
/* 팔로우 & 팔로워 end */

/* 회원탈퇴 start */
.deleteMember__container {
	min-height: 900px;
	padding: 50px;
	background-color: #fff;
	border: 1px solid #ccc;
}

.deleteMember__head {
	margin-top: 20px;
	margin-bottom: 20px;
}

.deleteMember__box {
	border: 1px solid #a8a8a8;
	background-color: #fdfdfd;
}

.deleteMember__box__notice ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.deleteMember__box__notice li {
	position: relative;
	padding-left: 1em;
}

.deleteMember__box__comfirm {
	padding: 10px 20px;
	border-top: 1px solid #a8a8a8;
	background-color: #f5f5f5;
	color: #005bdb;
}

.deleteMember__check-user {
	margin-top: 20px;
	padding: 20px;
	border: 1px solid #dae5eb;
	background-color: #e9f4fa;
}

.deleteMember__check-user-name, .deleteMember__check-user-email,
	.deleteMember__check-user-password {
	width: 120px;
}

.deleteMember__check-user-submit {
	border-color: #0185da;
	color: #fff;
	background-color: #0e9ae9;
	background-image: linear-gradient(#20b3f8, #0185d8);
}
/* 회원탈퇴 end */

/* 회원정보수정 start */
.title-style {
	margin-top: 0;
	vertical-align: bottom;
	padding-bottom: 4px;
	margin-bottom: 32px;
	position: relative;
	padding-top: 40px;
	vertical-align: middle;
}

.txt {
	font-size: 24px;
	font-weight: bold;
	vertical-align: middle;
	color: #333;
	display: block;
	float: left;
}

.subtxt {
	display: inline-block;
	font-size: 16px;
	font-weight: lighter;
}

.main__content-list {
	list-style: none;
}

.main__content-list li {
	float: left;
	width: 25%;
	padding: 24px;
	border-left: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
}

.main__content-list .label {
	font-size: 16px;
	font-weight: bold;
	color: #333;
	vertical-align: top;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.main__content-list .value {
	font-size: 24px;
	color: #ff7b30;
	display: block;
	-webkit-tap-highlight-color: transparent;
	text-decoration: none;
}

.table-style {
	border-top: 1px solid #d9d9d9;
	table-layout: fixed;
	width: 100%;
	box-sizing: border-box;
}

.table-style th {
	background: #f5f5f5;
	font-weight: normal;
	width: 120px;
	text-align: left;
	color: #666;
	padding: 12px 10px;
	border-bottom: 1px solid #d9d9d9;
	height: 48px;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.table-style td {
	padding: 12px 10px;
    border-bottom: 1px solid #d9d9d9;
    height: 48px;
}

tbody {
	color: inherit;
	font-size: inherit;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.table-style__phone, .table-style__phone-check {
	font-size: 16px;
	border-color: #0185da;
	color: #fff;
	background-color: #0e9ae9;
	background-image: linear-gradient(#20b3f8, #0185d8);
}

.modifySubmit {
	width: 140px;
	color: #fff;
	background: #ff7b30;
	border: 1px solid #ff7b30;
	height: 32px;
	padding: 15px 0;
	padding: 8px 15px;
	font-size: 12px;
	line-height: 14px;
}
/* 회원정보수정 end */

/* 환불계좌 start */
.accountInfo {
	position: absolute;
	width: 1200px;
	height: auto;
	margin: 0px auto;
	top: 50%;
	left: 0px;
	right: 0px;
	transform: translateY(-50%);
	box-sizing: border-box;
}

.accountInfoBox {
	display: table;
	width: 100%;
	height: auto;
	opacity: 1;
	background-color: rgb(255, 255, 255);
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 100%;
}

.accountInfoBoxInside {
	font-size: 13px;
	padding: 0px;
	color: rgb(85, 85, 85);
	box-sizing: border-box;
}

.userInfo {
	line-height: 1.6;
	font-size: 12px;
	color: rgb(51, 51, 51);
	padding-bottom: 30px;
	box-sizing: border-box;
	list-style: none;
}

.userInfo__title {
	list-style: none;
	padding: 25px 20px;
	font-size: 16px;
	font-weight: bold;
	background-color: rgb(238, 238, 238);
	color: rgb(17, 17, 17);
	box-sizing: border-box;
}

.userInfo__inside {
	padding: 30px 30px 0px;
	box-sizing: border-box;
	list-style: none;
}

.userInfo__msg {
	font-size: 11px;
	box-sizing: border-box;
	list-style: none;
}

.useInfo__plzmsg {
	margin-left: 6px;
	vertical-align: top;
	font-size: 11px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.userinfo__value {
	margin-top: 5px;
	border-top: 2px solid rgb(17, 17, 17);
	box-sizing: border-box;
	list-style: none;
}

.userInfo__setname {
	display: block;
	vertical-align: middle;
	border-bottom: 1px solid rgb(221, 221, 221);
	box-sizing: border-box;
}

.userInfo__name1 {
	display: inline-block;
	padding: 10px;
	user-select: none;
	position: relative;
	background-color: rgb(250, 250, 250);
	width: 95px;
	vertical-align: middle;
	font-size: 14px;
	font-weight: bold;
	box-sizing: border-box;
}

.userInfo__name2 {
	display: inline-block;
	padding: 10px;
	user-select: none;
	position: relative;
	vertical-align: middle;
	box-sizing: border-box;
}

.userInfo__setBank {
	display: block;
	vertical-align: middle;
	border-bottom: 1px solid rgb(221, 221, 221);
	box-sizing: border-box;
}

.userInfo__bank1 {
	display: inline-block;
	padding: 10px;
	user-select: none;
	position: relative;
	background-color: rgb(250, 250, 250);
	width: 95px;
	vertical-align: middle;
	font-size: 14px;
	font-weight: bold;
	box-sizing: border-box;
}

.userInfo__selectBank {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
}

.userInfo__selectBankList {
	font-family: "맑은 고딕", malgun gothic, apple sd gothic neo, "나눔고딕",
		nanumgothic, "돋움", dotum, sans-serif;
	display: flex;
	width: 100%;
	-webkit-box-align: center;
	align-items: center;
	min-height: 2.25rem;
	font-size: 0.875rem;
	padding: 8px 36px 8px 8px;
	appearance: none;
	outline: none;
	color: rgb(17, 17, 17);
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(221, 221, 221);
}

.userInfo__selectBankList option {
	font-weight: normal;
	display: block;
	white-space: nowrap;
	min-height: 1.2em;
	padding: 0px 2px 1px;
}

.userInfo__setAccount {
	display: block;
	vertical-align: middle;
	border-bottom: 1px solid rgb(221, 221, 221);
	box-sizing: border-box;
}

.userInfo__account1 {
	display: inline-block;
	padding: 10px;
	user-select: none;
	position: relative;
	background-color: rgb(250, 250, 250);
	width: 95px;
	vertical-align: middle;
	font-size: 14px;
	font-weight: bold;
}

.userInfo__account2 {
	font-family: "맑은 고딕", malgun gothic, apple sd gothic neo, "나눔고딕",
		nanumgothic, "돋움", dotum, sans-serif;
	width: 200px;
	flex: 1 1 0%;
	padding: 10px;
	font-size: 0.6875rem;
	font-weight: normal;
	color: rgb(17, 17, 17);
	border: none;
	background-color: inherit;
	cursor: text;
}

.userInfo__accountCheck {
	min-width: 60px;
	height: 30px;
	padding: 0px 10px;
	vertical-align: middle;
	box-sizing: border-box;
	border: 1px solid rgb(52, 106, 255);
	background-color: rgb(255, 255, 255);
	overflow: visible;
}

.userInfo__check {
	display: flex;
	flex-direction: row;
	margin: 8px 0px 10px;
	box-sizing: border-box;
}

.userInfo__checkBox {
	flex: 0 0 16px;
	width: 16px;
	height: 16px;
	border-radius: 2px;
	padding: 4px;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(170, 170, 170);
}

.userInfo__checkMsg {
	flex: 0 0 16px;
	width: 16px;
	height: 16px;
	border-radius: 2px;
	padding: 4px;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(170, 170, 170);
}

.userInfo__caution {
	list-style: none;
	background-color: rgb(250, 250, 250);
}

.caution1, .caution2, .caution3 {
	padding-top: 10px;
	list-style: none;
	margin-top: 0px;
	padding-left: 10px;
	padding-right: 45px;
}

.caution11, .caution22, .caution33 {
	display: inline-block;
	margin-right: 4px;
	width: 3px;
	height: 3px;
	background: rgb(85, 85, 85);
	vertical-align: 3px;
	zoom: 1;
	line-height: 1.6;
}

.userInfo__button {
	margin-top: 20px;
	text-align: center;
	box-sizing: border-box;
}

.userInfo__button-cancle {
	font-family: "맑은 고딕", malgun gothic, apple sd gothic neo, "나눔고딕",
		nanumgothic, "돋움", dotum, sans-serif;
	display: inline-block;
	box-sizing: content-box;
	min-width: 63px;
	line-height: 26px;
	min-height: 1em;
	padding: 0px 5px;
	margin: -2px 10px 0px 0px;
	text-align: center;
	vertical-align: middle;
	border-radius: 2px;
	white-space: nowrap;
	appearance: none;
	font-size: 12px;
	font-weight: normal;
	border: 1px solid rgb(204, 204, 204);
	color: rgb(61, 130, 247);
	background-color: rgb(255, 255, 255);
	cursor: pointer;
	user-select: none;
}

.userInfo__button-ok {
	font-family: "맑은 고딕", malgun gothic, apple sd gothic neo, "나눔고딕",
		nanumgothic, "돋움", dotum, sans-serif;
	display: inline-block;
	box-sizing: content-box;
	min-width: 63px;
	line-height: 26px;
	min-height: 1em;
	padding: 0px 5px;
	margin: -2px 0px 0px;
	text-align: center;
	vertical-align: middle;
	border-radius: 2px;
	white-space: nowrap;
	appearance: none;
	font-size: 12px;
	font-weight: normal;
	border: 1px solid rgb(0, 112, 204);
	color: rgb(255, 255, 255);
	background-color: rgb(61, 130, 247);
	cursor: pointer;
	user-select: none;
}

/* 환불계좌 end */

/* 결제창 start */
.paymentBody {
	width: 1020px;
	margin: 0 auto 20px;
	position: relative;
	clear: both;
	font-size: 12px;
	z-index: 20;
}

.middle {
	clear: both;
	padding: 0 0 40px;
	background: #fff;
}

.ordTitle {
	height: 70px;
	overflow: hidden;
	border-bottom: 3px solid #777;
}

.ordTitle .title {
	float: left;
	margin-top: 5px;
	padding-left: 0;
	line-height: 70px;
	font-size: 30px;
	color: #111;
}

.customer__h2 {
	padding-left: 2px;
	margin-bottom: 8px;
	font-size: 20px;
	font-weight: 700;
	color: #333;
}

.customer__table {
	width: 100%;
	border-top: 2px solid #cecece;
	border-collapse: collapse;
	border-spacing: 0;
	font-family: sans-serif;
	font-size: 100%;
}

.customer__col customer__col--1 {
	width: 104px;
	border: solid #e4e4e4;
	border-width: 0 1px 1px 0;
	padding: 7px 10px 7px 15px;
	font-weight: 700;
	text-align: right;
	background: #f4f4f4;
	display: table-cell;
	vertical-align: inherit;
	border-collapse: collapse;
	border-spacing: 0;
}

.customer__col customer__col--2 {
	border-bottom: 1px solid #e4e4e4;
	padding: 10px 16px;
	display: table-cell;
	vertical-align: inherit;
	border-collapse: collapse;
	border-spacing: 0;
}

.delivery-address__caption-header {
	padding-left: 2px;
	margin: 30px 0 8px;
	text-align: left;
	font-size: 20px;
	font-weight: 700;
}

.delivery-address {
	border-top: 2px solid #cecece;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	font-family: sans-serif;
	font-size: 100%;
}

.delivery-address__th {
	border-right: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
	padding: 10px 10px 7px 15px;
	width: 104px;
	background-color: #f4f4f4;
	text-align: right;
	display: table-cell;
	vertical-align: inherit;
	font-weight: bold;
	text-align: -internal-center;
}

.delivery-address__td delivery-address__td--name delivery-address__td-rocket-fresh-mvp2
	{
	padding-top: 12.5px;
	padding-bottom: 12.5px;
	border-bottom: 1px solid #e4e4e4;
	padding: 10px 0 10px 16px;
}

.delivery-address__name {
	color: #555;
	border-color: #555;
	display: inline-block;
	height: 13px;
	margin-left: 2px;
	padding: 2px 2px 0;
	font-size: 11px;
	font-family: dotum, sans-serif;
	line-height: 12px;
	vertical-align: middle;
	border: 1px solid #00891a;
	border-radius: 8px;
	color: #00891a;
}

.delivery-address__th {
	border-right: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
	padding: 10px 10px 7px 15px;
	width: 104px;
	background-color: #f4f4f4;
	text-align: right;
	display: table-cell;
	vertical-align: inherit;
	font-weight: bold;
	text-align: -internal-center;
}

.delivery-address__td {
	border-bottom: 1px solid #e4e4e4;
	padding: 10px 0 10px 16px;
}

.delivery-address__th delivery-address__th--no-line {
	border-bottom: 0;
	border-right: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
	padding: 10px 10px 7px 15px;
	width: 104px;
	background-color: #f4f4f4;
	text-align: right;
}

.retailGroupTitle {
	margin-top: 20px;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 9px;
	margin-top: 20px;
	line-height: 21px;
}

.GroupBox {
	border: 1px solid #ccc;
	border-radius: 3px;
}

.whenDelivery {
	padding: 10px 15px 10px 20px !important;
	line-height: 26px !important;
	padding: 12px 16px 10px;
	background-color: #eee;
	line-height: 20px;
}

.whenDelivery-info {
	float: left;
	line-height: 26px;
	font-size: 12px;
}

.delivery-date {
	font-size: 16px !important;
}

.item-list {
	overflow: hidden;
	zoom: 1;
	margin-left: 0 !important;
	margin-right: 0 !important;
	padding: 0 15px 0 20px;
}

.item-box {
	border-bottom: 0;
	border-bottom: 1px solid #f6f6f6;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	position: relative;
	zoom: 1;
	overflow: hidden;
	padding-top: 8px;
	margin-bottom: 5px;
	color: #333;
	border-bottom: 1px solid #f6f6f6;
}

.item-title {
	border-bottom: 0;
	border-bottom: 1px solid #f6f6f6;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	position: relative;
	zoom: 1;
	overflow: hidden;
	padding-top: 8px;
	margin-bottom: 5px;
	color: #333;
	border-bottom: 1px solid #f6f6f6;
}

.item-condition {
	display: inline;
	color: #203f99;
	font-weight: 700;
	font-size: 16px;
	color: #111;
}

.item-description {
	position: absolute;
	left: 64%;
	width: 34%;
	padding: 0;
	border: 0;
	font-size: 12px;
	clear: both;
	float: left;
}

.order-section orderBox mb10 multiple-coupon {
	margin-bottom: 10px;
	margin-top: 30px;
}

.checkout__h2 {
	padding-left: 2px;
	margin-bottom: 8px;
	font-size: 20px;
	font-weight: 700;
	color: #333;
}

.pay-price {
	width: 100%;
	border-top: 2px solid #cecece;
	border-collapse: collapse;
	border-spacing: 0;
	font-family: sans-serif;
	font-size: 100%;
}

colgroup {
	margin: 0;
	padding: 0;
	display: table-column-group;
}

.pay-price tbody {
	margin: 0;
	padding: 0;
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}

.wrap-title {
	vertical-align: top;
	text-align: right;
	border-right: 1px solid #e4e4e4;
	background: #f4f4f4;
	padding: 10px 15px 0 0;
	border-bottom: 1px solid #e4e4e4;
}

.price {
	display: inline-block;
	width: 100px;
	padding-left: 15px;
	padding-bottom: 10px;
}

.unit {
	color: #111;
	font-size: 12px;
	font-weight: 400;
}

.payCoupon .price {
	display: inline-block;
	font-size: 12px;
	color: #ff0025;
	display: inline-block;
	width: 100px;
	padding-left: 15px;
	padding-bottom: 10px;
}

.value use-calculation-for-totalprice {
	text-indent: -9999px;
	line-height: 0;
	display: inline-block;
}

.selected-coupon {
	display: inline-block;
}

.coupon-selector coupon-selecter {
	display: none;
	padding: 10px 0 10px 115px;
	border-top: 1px solid #eee;
	background-color: #f8f8f8;
}

.delivery-total-price-value use-calculation-for-totalprice {
	text-indent: -9999px;
	line-height: 0;
	display: inline-block;
}

.payPrice {
	color: #333;
	font-size: 14px;
}

.payPrice .price {
	display: inline-block;
	width: 100px;
	padding-left: 15px;
	padding-bottom: 10px;
}

.payType-wrap {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}

.type-selector-list-wrapper {
	width: 845px;
}

.type-selector-list {
	width: 845px;
	position: relative;
	padding-top: 4px;
	list-style: none;
}

.type-selector-li {
	display: block;
	float: left;
	margin-right: 9px;
	padding: 0 0 0 2px;
	font-size: 12px;
	line-height: 39px;
	letter-spacing: -1px;
	list-style: none;
}

.type-selector-radio {
	margin-right: 1px;
	vertical-align: -1px;
}

.CONOCOIN {
	font-weight: normal;
	position: relative;
	cursor: pointer;
}

.type-selector-label__text {
	display: inline-block;
	line-height: 39px;
	vertical-align: middle;
}

.CONOCOIN_content {
	margin-top: -2px;
	padding: 10px;
	border: 2px solid #c5c7cd;
	background-color: #f4f6fa;
}

.pay-type-sections {
	list-style: none;
}

.pay-type-section {
	padding-top: 0;
	border-top: 0;
	padding: 10px 0;
	margin: 0;
	line-height: 21px;
	border-top: 1px solid #e4e4e4;
	list-style: none;
}

.line-title {
	letter-spacing: -1px;
	display: inline-block;
	width: 90px;
	font-size: 12px;
	font-weight: 700;
	margin: 0;
	vertical-align: middle;
}

.orderBox wrap-order-agree {
	margin-top: 20px;
}

.agreeBtn {
	text-align: center;
}
/* 결제창 end */

/* 위시리스트 start */

.inner-w layout-split {
    padding-top: 36px;
    position: relative;
    width: 1056px;
    margin: 0 auto;
}
.title-style watch-list-title--favorite {
	margin-bottom: 0;
	margin-top: 0;
	position: relative;
vertical-align: middle;	
	
}

.title-style watch-list-title--favorite .txt {
	font-size: 0;
	display: inline-block;
	width: 100%;
	color: #333;
	background: #f5f5f5;
    display: inline-block;	
}

.ui_grid mt10 {
	margin-top: 10px;
	position: relative;
	overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;	
}

.ui_grid__cols--4 {
	margin-left: -14px !important;
	padding: 0 2px 0 0;
    margin-top: -16px;
	height: 100%;
    overflow: hidden;   
    width: 1050px;
     	
}

.ui_grid__item {
	width: 25%;
	position: relative;
	float: left;
}

.base-card card--vertical product {
	flex-direction: column;
	border-radius: 2px;
	transition: all 0.3s;
	display: block !important;
    margin-left: 16px;
    margin-top: 16px;	
}

.products {
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	width: 992px;
	text-align: center;
}

.card-thumb-cover img{
	width: 225px;
	height: 225px;
	margin-right: 20px;
	margin-bottom: 20px;
}
.card-info product-info {
	padding: 12px 8px;
	height: 204px;
}

.product-info__name {
	display: block;
	display: -webkit-box;
	max-height: 35.88px;
	font-size: 13px;
	line-height: 1.38;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	margin: 4px 0 8px 0;
	color: #333333;
}

.product-info__price {
	font-size: 15px;
	font-weight: bold;
	line-height: 1;
	color: #333333;
}

.product-info__badge-group {
	margin-top: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.badge badge-new {
    margin-right: 0;	
    background-color: #fff4bb;
    color: #f7a100;
    padding: 5px 6px 4px;
    height: 20px;
    font-size: 11px;
    font-weight: bold;
    border-radius: 2px;
    line-height: 1;
    background-color: #333333;
    color: #ffffff;
    margin-right: 4px;        
}
/* 위시리스트 end */
/* ====================================================================== */