<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.cono.mapper.ItemMapper">

<!-- 등록된 상품 개수(item_idx) 조회 -->
	<select id="selectItemIdx" resultType="java.lang.Integer">
		SELECT COUNT(item_idx) FROM item
	</select>
	
	<insert id="insertItem">
		INSERT INTO item
		VALUES (#{item.item_idx}, (SELECT shop_idx FROM shop WHERE member_id=#{member_id})
		,#{item.item_title}, #{item.item_content}, #{item.item_price}, '', '0', 'N', 'N', '0', #{item.item_region}, #{item.item_quantity})
	</insert>
	
	<insert id="insertCategory">
		INSERT INTO category VALUES (#{category.category_big},#{category.category_small},#{item.item_idx},'0')
	</insert>
	
	<select id="selectImgIdx" resultType="java.lang.Integer">
		SELECT COUNT(img_idx) FROM img WHERE item_idx = #{item_idx}
	</select>
	
	<insert id="insertImg">
		INSERT INTO img 
		VALUES (#{img.img_idx},
			    #{item.item_idx}, #{img.img_name})
	</insert>
	
	<select id="selectItemList" resultType="java.util.HashMap">
			<!-- 임시 코드... -->
			SELECT i.item_idx, g.img_name, i.item_title, i.item_price, i.item_date, i.item_status, COUNT(w.member_id), i.item_readCnt, i.item_hide
			FROM item AS i
			LEFT OUTER JOIN wish AS w
			ON i.item_idx = w.item_idx
			JOIN shop AS s
			ON i.shop_idx = s.shop_idx
			JOIN img AS g
			ON i.item_idx = g.item_idx
			WHERE s.member_id = 'seller'
			AND g.img_idx='1'
			AND i.item_title LIKE '%%'
			AND i.item_status = 'N'
			GROUP BY i.item_idx
			ORDER BY i.item_idx+0 ASC
	</select>
</mapper>