<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.cono.mapper.MessageMapper">
<!-- 	문의하기 버튼 클릭시 insert -->
	<insert id="insertMsgList">
		INSERT INTO msgList 
		VALUES (1+(SELECT COUNT(l.msgList_room) FROM msgList l),
				#{sId}, #{shop_idx}, #{item_idx}, '0'
				)
	</insert>
	
<!-- 	MsgList 뽑기 -->
	<select id="selectMsgList" resultType="java.util.HashMap">
<!-- 		SELECT s.shop_name, m.shop_idx, m.msgList_room -->
<!-- 		FROM shop s, msgList m -->
<!-- 		WHERE m.member_id = #{sId} AND m.shop_idx = s.shop_idx -->

<!-- 	SELECT DISTINCT s.shop_name, m.shop_idx, m.msgList_room, c.msgChat_content, c.msgChat_time -->
<!-- 	FROM shop s, msgList m LEFT OUTER JOIN msgChat c ON m.msgList_room = c.msgList_room  -->
<!-- 	WHERE m.member_id = #{sId} AND m.shop_idx = s.shop_idx AND c.msgChat_time = (SELECT c.msgChat_time FROM msgChat c ORDER BY c.msgChat_time DESC LIMIT 1) -->
<!-- 	group by c.msgList_room; -->
	
		SELECT s.shop_name, m.shop_idx, m.msgList_room, c.msgChat_content, c.msgChat_time
		FROM (shop s, msgList m) LEFT OUTER JOIN msgChat c ON m.msgList_room = c.msgList_room 
		WHERE m.member_id = #{sId} AND m.shop_idx = s.shop_idx
		group by c.msgList_room
		ORDER BY c.msgChat_time DESC
	</select>
	
<!-- 	MsgChat insert -->
	<insert id="insertMsgContent">
		INSERT INTO msgChat 
		VALUES (1+(SELECT COUNT(c.msgChat_idx) FROM msgChat c WHERE c.msgList_room = #{dto.msgList_room})
				,#{dto.msgList_room}, #{dto.msgChat_send},#{dto.msgChat_recv}, #{dto.msgChat_content}, date_format(now(), '%m-%d %H:%i:%S'))
	</insert>
	
<!-- 	멤버 입장에서 AllMsg select -->
	<select id="selectAllMsg" resultType="java.util.HashMap">
		SELECT mc.msgChat_send, mc.msgChat_recv, mc.msgChat_content, mc.msgChat_time
		FROM msgChat mc
		WHERE msgList_room = #{msgList_room}
		ORDER BY mc.msgChat_time ASC
	</select>
	
<!-- 	deleteMsg -->
	<delete id="deleteMsgList">
		DELETE FROM msgChat c, msgList l 
		WHERE c.msgList_room = #{msgList_room} 
			OR l.msgList_room = #{msgList_room}
	</delete>
	
	
	<select id="selectShop_idx" resultType="string">
<!-- 		SELECT shop_idx FROM shop WHERE member_id = #{sId} -->
	</select>
</mapper>
