<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.cono.mapper.MypageMapper">

	<select id="selectRecentViewCount" resultType="java.lang.Integer">
		
	</select>  
	
	<select id="selectBoardList" resultType="java.util.List">
		SELECT it.item_idx, im.img_real_name, it.item_title, s.shop_name, it.item_price, it.item_region , it.item_date 
		FROM item it, recentView re, img im, shop s 
		WHERE re.member_id = #{sId} AND it.item_idx IN (re.item_idx) AND it.item_idx = im.item_idx AND im.img_idx = '1' AND s.shop_idx = it.shop_idx
		ORDER BY re.viewTime DESC
	</select>
	
<!-- 	회원 상세 정보 (for 회원 정보 수정) -->
	<select id="selectMemberInfo" resultType="com.itwillbs.cono.vo.MemberDTO">
		SELECT * FROM member 
		WHERE member_id = #{sId}
	</select>
	
<!-- 	회원 정보 수정 -->
	<update id="updateMemberInfo">
		UPDATE member
		SET member_pass = #{member.member_pass}, member_nick = #{member.member_nick}, member_email = #{member.member_email}, member_phone = #{member.member_phone}
		WHERE member_id = #{sId}
	</update>
	
<!-- 	코인 내역 리스트 COUNT  -->
	<select id="coinListCount">
		SELECT COUNT(coin_idx)
		FROM coin
		WHERE member_id = #{sId}
	</select>	
	
<!-- 	코인 이용 내역 조회 -->
	<select id="selectCoinInfoList" resultType="com.itwillbs.cono.vo.CoinDTO">
		SELECT coin_idx, coin_add, coin_use, coin_total, coin_date
		FROM coin c
		WHERE member_id = #{sId}
		ORDER BY coin_idx DESC
	</select>
	
<!-- 	현재 보유 코인 -->
	<select id="coinTotal" resultType="string">
		SELECT c.coin_total
		FROM coin c
		WHERE member_id = #{sId}
		ORDER BY coin_idx DESC
		LIMIT 1;
	</select>
	
<!-- 	현재 보유중인 쿠폰 수 -->
	<select id="selectCouponCount" resultType="java.lang.Integer">
		SELECT COUNT(coupon_idx)
		FROM coupon
		WHERE member_id = #{sId}
	</select>
	
<!-- 	현재 보유 쿠폰 리스트 -->
	<select id="couponList" resultType="com.itwillbs.cono.vo.CouponDTO">
		SELECT *
		FROM coupon
		WHERE member_id = #{sId}
	</select>
	
	<insert id="insertPayment">
		INSERT INTO payment
		VALUES ((SELECT COUNT(p.payment_idx) FROM payment p WHERE p.member_id = #{sId}), 
				(SELECT m.member_phone FROM member m WHERE m.member_id = #{sId}),
				#{payment_name},
				#{payment_value},
				date_format(now(), '%Y%m%d%H%i%S'))
	</insert>
	
	<select id="selectPayment" resultType="com.itwillbs.cono.vo.PaymentDTO">
		SELECT * 
		FROM payment
		WHERE member_id = #{sId}
		ORDER BY payment_idx DESC
		LIMIT 1
	</select>
	
<!-- 	예약 중인 상품 수 -->
	<select id="selectReservedCount" resultType="java.lang.Integer">
		SELECT COUNT(item_idx) 
		FROM reserved
		WHERE member_id = #{sId}
	</select>
	
<!-- 	예약 중인 상품 카드 정보 -->
	<select id="selectReservedList" resultType="java.util.HashMap">
		SELECT it.item_idx, im.img_real_name, it.item_title, it.item_region, it.item_price, it.item_date
		FROM item it LEFT OUTER JOIN img im ON it.item_idx = im.item_idx, reserved re
		WHERE re.member_id = #{sId} AND it.item_status = 'R' AND it.item_idx = re.item_idx AND im.item_idx = it.item_idx AND im.img_idx = '1'
	</select>
	
<!-- 	장바구니 아이템 수 -->
	<select id="selectBasketCount" resultType="java.lang.Integer">
		SELECT COUNT(item_idx)
		FROM basket
		WHERE member_id = #{sId}
	</select>
</mapper>
